body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p div {
  margin: 0;
  padding: 0;
}
body{
  padding: 0 !important;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
	font-family:'PoppinsBold';
	src:url('../fonts/Poppins-SemiBold.ttf');
}
@font-face {
	font-family:'PoppinsLight';
	src:url('../fonts/PoppinsLight.ttf'),url('../fonts/PoppinsLight.eot'),url('../fonts/PoppinsLight.woff'),url('../fonts/PoppinsLight.otf');
}
body {
  font-family: 'PoppinsLight', 'Microsoft YaHei';
}
input,textarea,select {
  font-family: 'PoppinsLight', 'Microsoft YaHei';
}
#container {
  position: relative;
  background-position: center;
  background-size: 100%;
  margin-top:0px;
}

.mid-box {
  width: 1200px;
  margin: 0 auto;
}

.maincontent{
  width: 1200px;
  margin: 0 auto;
}
.pageTitle{
  font-size: 30px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'PoppinsBold', 'Microsoft YaHei';
  display: flex;
  align-items: center;
}
.pageTitle::before{
  content: '';
  height: 1.8rem;
  line-height: 1.8rem;
  background: #c6b17b;
  width: 5px;
  margin-right: 10px;
  display: inline-block;
}
.pageTitleSmall{
  font-size: 24px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 1.8rem;
  border-left: 5px solid #c6b17c;
  padding-left: 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'PoppinsBold', 'Microsoft YaHei';
}
#memberConterContainer {
  width: 100%;
  display: flex;
  background:url('/images/pc/Personal-Center.jpg') no-repeat center center;
  background-size: cover;
  flex-wrap: wrap;
  flex-direction: column;
}
#RomagoBg {
  width: 100%;
  display: flex;
  background:url('/images/pc/Product-list.jpg') no-repeat center center;
  background-size: cover;
  flex-wrap: wrap;
  flex-direction: column;
}
.clear {
  clear: both;
}
/* 解决苹果手机按钮颜色与安卓机不一致的问题 */
input[type=button], button { cursor: pointer; -webkit-appearance: none; }
.el-scrollbar  > .el-scrollbar__bar{
  opacity: 1!important;
}
.el-scrollbar__wrap {
  overflow: auto!important;
}
.messageboxNoraml {
  z-index: 100000!important;
}